<h2>spendfit</h2>
<ul>
  <li><fa-icon [icon]="faHome"></fa-icon> <span>Home</span></li>
  <li><fa-icon [icon]="faCreditCard"></fa-icon> <span>My Card</span></li>
  <li><fa-icon [icon]="faStickyNote"></fa-icon> <span>Transactions</span></li>
  <li><fa-icon [icon]="faEnvelope"></fa-icon><span>Notifications</span></li>
  <li><fa-icon [icon]="faCcAmex"></fa-icon><span>Payments</span></li>
  <li><fa-icon [icon]="faSitemap"></fa-icon><span>Departments</span></li>
  <li><fa-icon [icon]="faUsers"></fa-icon><span>Users</span></li>
  <li><fa-icon [icon]="faDatabase"></fa-icon><span>Audit Logs</span></li>
  <li><fa-icon [icon]="faCog"></fa-icon><span>Settings</span></li>
</ul>
